#### Q.1 answer

1. (*) ---is the expression used for the multiplication.
2. ('hello') --- is the value and it is string, string values are considered as text values & are given in single or double quotes.
3. (-87.9) --- is also a value and it is float, decimal numbers values are known as float.
4. (-) ---is the expression used for substraction.
5. (/) ---is also a expression used for the division.
6. (+) ---is also a expression used for the addition.
7. (6) ---is the value known as integer, numbers without decimal point are konwn as integers.

#### Q.2 answer

Difference between string and variable

1. String- The values which are stored in single or double quotes are considered as the string values. For e.g. "hello", "25", "Sudhkumar", etc. We can say that string is type of variable.

2. Variable - Variable is a any measurable characteristics or atrribute that differs. For e.g. If we want to find the average 'Height' of the student any class, then "Height" is the variable that contains the values. I simple words varaibles are used to store the values that can be string, integer, float, etc.

#### Q.3 answer

Data types
1. Nominal - 
2. Ordinal -
3. Interval -
4. Ratio -

Different data types in Python
1. String
2. Float
3. Integers
4. Boolean values

#### Q.4 answer

Expressions are used to evaluate something from the data. e.g. 25 + 78, 78/12, etc
Expressions are made of using the mathematical operators like addition(+),substraction(-),divison(/), multiplication(*),modulo(%), and, or, etc. for e.g. we have two values val_1 and val_2 then val_1 + value_2 - ( 2 * value_1) is the expression 
Expressions are also represntation of values.
expressions are made using values, operations, variables, etc.

In [ ]:
val_1=10
val_2=20
val_3 = val_1 + val_2 - 2 * val_1 # This is an expression 
val_3
# All expressions are used to represents some values. It can be true or false also.

#### Q.5

##### Expressions

1. Expressions are used to represent the values or to evaluate something. it always gives some value. for e.g. 47-29, 99 * 8, 78 + 12 - 36, etc.
2. It is the combination of values, variables, operators.

##### Statements

1. Statements are made to express something, like print() is the statement. It is also used to give the command. It can not give any value. Loop is one of example of statement.
2. Statements are used to do somthing that we want.

#### Q.6

1. bacon=22
2. bacon +1
3. After runnig this code we will get the output 23.

#### Q.7

1. 'spam' + 'spamspam' &
2. 'spam'*3
3. These two codes gives the same results that is, 'spamspammspam'

#### Q.8

Here eggs is string or name whereas the 100 is the number, Python has ability to understand the data types. And we can not use number of integer as variable. Thats why python can not assign 100 as a varaiable. Giiven as,

In [16]:
eggs=1

In [18]:
100=12

SyntaxError: cannot assign to literal (<ipython-input-18-8cee82e2326f>, line 1)

#### Q.9

1. int() -is used to get the integer value.
2. float() -is used to get floatinng numbers.
3. str() -is used to get the string values.
4. We can use it as,

In [34]:
# for e.g.
val=1254
int(val),float(val),str(val)

(1254, 1254.0, '1254')

#### Q.10

In [24]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

1. 'I have eaten' + 99 + 'burritos'
2. In the given code 'I have eaten' and 'burritos' are the strings and 99 is an integer, so python can not add string and integer together.If we want add this we have to convert this 99 to string and then it is possible to run the given code.
3. e.g.

In [30]:
# To make 99 as string add single or double quotes to it.
'I have eaten' + '99' + 'burritos'

'I have eaten99burritos'

In [31]:
type('99') # it is string now

str